torch
scikit-fuzzy
streamlit
matplotlib
networkx
numpy
scipy
transformers
torchvision
openai-whisper
Pillow
opencv-python
pydrive2
MiniSom
ray
gspread
google-auth
pytest
mock
# Development dependencies
flake8
black
autoflake
